<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.multi.test100.MuseumVO" alias="museumVO"></typeAlias>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/museum.xml" />
	</mappers>
</configuration>




